
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Chil.JS :: 七政算內篇 - 曆日</title>
</head>
<body>
    <%-include('./comp/navbar.ejs') %>

    <!--본격적인 HTML은 여기서부터-->

    <div class="container">
        <div class="words" style="margin-top:20px;">
            <a href="/almanac"><span class="Date">Back</span></a> <a href="/almanac/raw/<%=year %>"><span class="Date">Raw Data</span></a>
        </div>
        <div class="words">
            <h1><%=year %>年 定朔弦望日</h1>
            <% for(var i = 0; i < almanac.length; i++){ %>
                <h2><%=almanac[i].MonthName %> <%=almanac[i].MonthLength %></h2>
                <h3>朔</h3>
                <p>JD: <%=almanac[i].Sak.JulianDay %></p>
                <p>日分: <%=almanac[i].Sak.GanJi %>日 <%=almanac[i].Sak.mmmm %>分</p>
                <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].Sak.Ms %></p>
                <p>西暦: <%=almanac[i].Sak.Timezone %></p>

                <h3>上弦</h3>
                <p>JD: <%=almanac[i].SangHyeon.JulianDay %></p>
                <p>日分: <%=almanac[i].SangHyeon.GanJi %>日 <%=almanac[i].SangHyeon.mmmm %>分</p>
                <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].SangHyeon.Ms %></p>
                <p>西暦: <%=almanac[i].SangHyeon.Timezone %></p>

                <h3>望</h3>
                <p>JD: <%=almanac[i].Mang.JulianDay %></p>
                <p>日分: <%=almanac[i].Mang.GanJi %>日 <%=almanac[i].Mang.mmmm %>分</p>
                <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].Mang.Ms %></p>
                <p>西暦: <%=almanac[i].Mang.Timezone %></p>

                <h3>下弦</h3>
                <p>JD: <%=almanac[i].HaHyeon.JulianDay %></p>
                <p>日分: <%=almanac[i].HaHyeon.GanJi %>日 <%=almanac[i].HaHyeon.mmmm %>分</p>
                <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].HaHyeon.Ms %></p>
                <p>西暦: <%=almanac[i].HaHyeon.Timezone %></p>

                <% if (almanac[i].Myeol.JulianDay !== undefined){ %>
                    <h3>滅日</h3>
                    <p>JD: <%=almanac[i].Myeol.JulianDay %></p>
                    <p>日分: <%=almanac[i].Myeol.GanJi %>日</p>
                    <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].Myeol.Ms %></p>
                    <p>西暦: <%=almanac[i].Myeol.Timezone %></p>
                <% } %>

                <% if (!almanac[i].MonthName.includes("閏")){ %>
                    <h3><%=almanac[i].JeolGi.Name %> <%=almanac[i].MonthName %> 節氣</h3>
                    <p>JD: <%=almanac[i].JeolGi.JulianDay %></p>
                    <p>日分: <%=almanac[i].JeolGi.GanJi %>日 <%=almanac[i].JeolGi.mmmm %>分</p>
                    <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].JeolGi.Ms %></p>
                    <p>西暦: <%=almanac[i].JeolGi.Timezone %></p>

                    <% if (almanac[i].JeolGi.Mol.JulianDay){ %>
                        <h3>節氣 沒日</h3>
                        <p>JD: <%=almanac[i].JeolGi.Mol.JulianDay %></p>
                        <p>日分: <%=almanac[i].JeolGi.Mol.GanJi %>日</p>
                        <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].JeolGi.Mol.Ms %></p>
                        <p>西暦: <%=almanac[i].JeolGi.Mol.Timezone %></p>
                    <% } %>

                    <h3><%=almanac[i].JungGi.Name %> <%=almanac[i].MonthName %> 中氣</h3>
                    <p>JD: <%=almanac[i].JungGi.JulianDay %></p>
                    <p>日分: <%=almanac[i].JungGi.GanJi %>日 <%=almanac[i].JungGi.mmmm %>分</p>
                    <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].JungGi.Ms %></p>
                    <p>西暦: <%=almanac[i].JungGi.Timezone %></p>

                    <% if (almanac[i].JungGi.Mol.JulianDay){ %>
                        <h3>中氣 沒日</h3>
                        <p>JD: <%=almanac[i].JungGi.Mol.JulianDay %></p>
                        <p>日分: <%=almanac[i].JungGi.Mol.GanJi %>日</p>
                        <p>Milliseconds From UTC 1970-01-01 00:00:00: <%=almanac[i].JungGi.Mol.Ms %></p>
                        <p>西暦: <%=almanac[i].JungGi.Mol.Timezone %></p>
                    <% } %>
                <% } %>

            <% } %>
            
        </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/index.js"></script>

    <!--footer-->
    <div class="footer">
        <%-include('./comp/footer.ejs') %>
    </div>
</body>
</html>


